:root {
    --primaryColor: #69f051;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --offwhite:#8eb0d3;
    --white:white;
    --white-2:#ffffff;
    --color-1:#282C3F;
    --color-2:#353741;

    --fontzise-1:1rem;
    --fontzise-2:1.3rem;
    --fontzise-3:1.6rem;
    --fontzise-4:1.8rem;
    --fontzise-5:2rem;
    --fontzise-6:2.3rem;
    --fontzise-7:2.4rem;
    --fontzise-8:2.6rem;
    --fontzise-9:2.8rem;
    --fontzise-10:3rem;
    --fontzise-11:3.2rem;
    --fontzise-12:3.4rem;
    --fontzise-13:3.6rem;
    --fontzise-14:3.8rem;
    --fontzise-15:4rem;
    --fontzise-16:4.5rem;

    --padding-1:2rem;
    --padding-2:3rem;
    --padding-3:3.5rem;
    --padding-4:4rem;
    --padding-5:4.5rem;
    --padding-6:5rem;
    --padding-7:5.5rem;
    --padding-8:6rem;
    --padding-9:6.5rem;
    --padding-10:7rem;
    --padding-11:7.5rem;
    --padding-12:8rem;

    --margin-1:2rem;
    --margin-2:3rem;
    --margin-3:3.5rem;
    --margin-4:4rem;
    --margin-5:4.5rem;
    --margin-6:5rem;
    --margin-7:5.5rem;
    --margin-8:6rem;
    --margin-9:6.5rem;
    --margin-10:7rem;
    --margin-11:7.5rem;
    --margin-12:8rem;
  }
  html{
    font-size: 62.5%;
     scroll-behavior: smooth;
    scroll-padding-top: var(--padding-6);
    overflow-x: hidden; 
}
body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
*::selection{
    background: whitesmoke;
    color: red;
}

section{
    padding:2rem 4%;
}

.heading{
    text-align: center;
    font-size:var(--fontzise-3);
    padding:1rem;
    margin:2rem 0;
    background:rgba(195, 195, 195, 0.075);
}

.heading span{
    color:var(--mainBlack);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-position: center;
    background:black;
    color:white;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:rgb(52, 165, 76);
    outline: 2px solid black;
}

header{
    position:sticky;
    top:0; 
    left:0; 
    right:0;
    background:var(--white-2); 
    padding:1rem 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    box-shadow: 0 .1rem 1rem var(--primaryColor);
}

header .logo{
    font-size: 3rem;
    color:#333;
    font-weight: bolder;
}

header .logo span{
    color:var(--color-1);
    font-style:var(--mainSpacing);
    font-size:var(--fontzise-8);
    font-family: 'Lobster', cursive;
}

header .navbar a{
    font-size:var(--fontzise-2);
    text-transform:uppercase;
    font-family: 'Italianno', cursive;
    padding:0 1.5rem;
    color:var(--mainBlack);
    font-weight: 900;
}
header .navbar::before{
    content: '';
    position: absolute;
   left: 0;
   bottom:0;
   height:3px;
   width:100%;
   background-color:var(--offwhite);
   transform: scaleX(0);
   transform-origin: right;
  transition:transform 2s linear ;
}
header .navbar:hover:before{
   transform: scaleX(1);
   transform-origin: left;
}

header .navbar .input-search{
   border:1px solid var(--offwhite);
   border-radius: 4rem;
   padding:.5rem;
   display: inline;
}
header .navbar .input-search i{
    padding:.5rem;
    display: inline;
    font-size: var(--fontzise-2);
    cursor: pointer;
    color:var(--color-2);
 }

header .navbar input::placeholder{
    font-size: .5rem;
    color: var(--color-1);
 }

header .icons a{
    font-size: 2.5rem;
    color:white;
    margin-left: 1.5rem;
}


header .icons .fas{
    color:var(--color-1);
}
header .icons .fas:hover{
    color:var(--primaryColor);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:var(--mainBlack);
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background:url('../images/BA.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color:#080807;
    font-family: 'Lobster', cursive;
    letter-spacing: 1rem;
}

.home .content span{
    font-size: 3.5rem;
    color:gold;
    padding:1rem 0;
    line-height: 1.5;
    font-weight: 800;
}

.home .content p{
    font-size: 1.5rem;
    color:white;
    padding:1rem 0;
    line-height: 1.5;
}
.home .content p:hover{
    background: black;
}
.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width:100%;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background:#fff;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#333;
}
.about h2{
    text-align: center;
    background:rgb(37, 194, 110);
    padding:1.3rem;
    border-radius:3rem;
    margin-bottom: 3rem;
}

.about .row .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icons-container{
    background:rgba(195, 195, 195, 0.075);
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
   
}

.icons-container .icons{
    
    border:.1rem rgb(53, 52, 52);
    padding:2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}

.icons-container .icons img{
    height:5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color:black;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color:rgb(85, 85, 85);
    font-size: 1.3rem;
}

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    background-color:rgba(195, 195, 195, 0.075);
}

.products .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem var(--mainBlack);
    border-radius: 1rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;    
    
}



.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}

.products .box-container .box .image img{
    height:25rem;
}

.products .box-container .box:hover .image img{
    transform: scale(1.3);
}
 .h2{
    text-align: center;
    background:rgb(37, 194, 110);
    padding:1.3rem;
    border-radius:3rem;
    margin-bottom: 3rem;
}
 
.products .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; 
    left:0; 
    right:0;
    display: flex;
    background-color:rgb(37, 194, 110);
}

.products .box-container .box:hover .image .icons{
    bottom:0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    color:rgb(20, 20, 20);
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}

.products .box-container .box .image .icons a:hover{
    background:#333;
    color: white;
    cursor: pointer;
}

.products .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2rem;
    color:#333;
}

.products .box-container .box .content .price2{
    position: absolute;
    text-align: center;
    bottom:0;
    font-size: 2.5rem;
    color:#a31d1d;
    width: 90%;
    
}

.products .box-container .box .content .price2 span{
    font-size: 1.5rem;
    font-weight:600;
    color:red;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;

    
}

.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
 
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color:#000000;
}

.review .box-container .box .stars i{
    color:var(--pink);
    font-size: 2rem;
}

.review .box-container .box p{
    color:#999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
    color: #4b4a49d8;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    
    width:10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color:#333;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color:#3d3c3ac4;
}

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
    height: 420px;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--pink);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    background: rgb(27,31,37);
    padding: 5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    

}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:white;
    font-size: 2.5rem;
    padding:1rem 0;
    font-family: 'The Girl Next Door', cursive;
}

.footer .box-container .box a{
    display: block;
    color:white;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:rgb(209, 29, 74);
    font-size: 1.8rem;
    text-decoration: underline;
}

.footer .box-container .box h3{
    color:rgb(209, 29, 74);
    font-size: 1.8rem;
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:rgb(209, 29, 74);;
    border-top:1px solid rgba(0,0,0,.3);
    padding-bottom: 9rem;
 
    
}

.footer .credit span{
    color:var(--pink);
}




.products .box-container .box .content h2{
    font-size: 1.5rem;
    color:rgb(14, 179, 88);
}










#cart_no,#heart_no{
  
    position: absolute;
    margin-top: -17px;
    margin-left: -18px;
    font-size:20px;
    color:red;
}


/* cart product style*/


.cart-overlay {
    margin-top:5rem;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    z-index: 2;
   
  }

  .cart2 {
    position:fixed;
    right: 0;
    width:30%;
    height:90%;
    overflow: scroll;
    background:linear-gradient(#ecf0f5 ,#e6e9ee,#5a6370);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index:3;
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
    
  }

  .cart-overlay .cart2 h2{
      text-align: center;
      border-bottom: 1px solid grey;
      padding-bottom: 2rem;
      padding-top: 2rem;
      margin-bottom: 1rem;
      font-family: 'Lobster', cursive;
  }
  .showCart2 {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  .fa-times{
      font-size:3rem;
      color:red; 
      background:#cbced2; 
  }
  .fa-times:hover{
    font-size:3.3rem;
    cursor: pointer;
}
  .clear-cart{
      padding:.5rem;
      border-radius: 1.2rem;
      background-color: rgb(167, 202, 134);
      font-size: 1.2rem;
      font-family: 'Lobster', cursive;
      
  }
  .clear-cart:hover{
    cursor: pointer;
    background-color: rgb(123, 230, 23);  
}

.product1{
    width:100%;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid lightgray;
    min-height:20rem;
    margin-bottom:1rem;  
}
.product-image-incart{
    width: 40%; 
}
.product-info-incart{
    width: 70%;
    padding-left:.8rem;
}

.product-image-incart img{
    width: 100%;
    display: block;
}
.product-info-incart p{
  color: #020001;
  margin-bottom: 1rem;
  font-family: 'Salsa', cursive;
}
 
.product-info-incart p:nth-child(1){
    font-size:1.5rem;
    font-weight: 800;
   
}
.product-info-incart p:nth-child(2){
    font-size:1.2rem;
    font-weight: 600;
   
}
.product-info-incart p:nth-child(3){
    font-size:1.5rem;
    font-weight: 600;
    color:red;
}
 
.product-info-incart .span-div{
    display: flex;
    justify-content: space-between;
    font-size:1.2rem;
    font-weight: 800;
    text-align: center;
    padding:2rem;
    width: 90%;
    margin-bottom:1rem;
    text-align: center;
   
}
.product-info-incart span{
    text-align: center;
    width: 40%;
    padding: .5rem;
    border:1px solid rgb(224, 19, 122)
}
.product-info-incart i{
    text-align: center;
    width: 30%;
    padding: 1rem;
    border:1px solid rgb(224, 19, 122)
}
.product-info-incart i:hover{
    background: rgba(29, 29, 231, 0.452);
    color:white;
    cursor: pointer;
    transition: .4s ease-in-out;
    border:0;
}



/* media queries  */

/* @media only screen and (min-width:868px){
    
    html{
        font-size: 40%;
    }

    header{
        padding:1rem;
        
    }

    section{
        padding:1rem;
    }

    .home{
        background-position: left;
    }
    header .logo span{
        font-size:2rem;
        width:20%;
        color:red
        
    }
    header .navbar a{
        font-size:1rem;
    }
    header .navbar{
        width:55%;
        background-color: green
        

    }
    header .navbar .input-search input{
        width:8%;
    
    }
    header .icons .fas{
        font-size:2rem;
    }
    header .icons{
      
      width: 13%;
      background-color: red;
    }
    .cart2{
        width: 50%;
    }
  
} */
@media (max-width:877px){
    
    html{
        font-size: 50%;
    }

    header{
        padding:1rem;
        
    }

    section{
        padding:1rem;
    }

    .home{
        background-position: left;
    }
    header .logo span{
        font-size:2rem;
    }
    header .navbar a{
        font-size: 1rem;

    }
    header .navbar .input-search input{
        width: 10%;
    }
    header .icons .fas{
        font-size: 2rem;
    }
    .header .icons{
        width: 15%;

    }
    .cart2{
        width: 50%;
    }
}

@media (min-width:752px)and (max-width:875px ){
    
    html{
        font-size: 45%;
    }

    header{
        padding:1rem;
        
    }

    section{
        padding:1rem;
    }

    .home{
        background-position: left;
    }
    header .logo span{
        font-size:2rem;
        width: 20%;
    }
    header .logo {
        width: 20%;
    }
    header .icons {
        width: 20%;
    }
   
    header .navbar a{
        font-size: 1rem;
        padding:.5rem;
    }
   
    header .navbar .input-search input{
        width:17%;
    }
    header .icons .fas{
        font-size: 2rem;
    }
    header .logo span{
        font-size:2rem;
    }
}
@media (min-width:667px)and (max-width:752px){

    html{
        font-size: 50%;
    }
 
     header .navbar a{
        
         padding:.5rem;
         background:#fff;
     }
   
 
     .home .content h3{
         font-size: 5rem;
     }
 
     .home .content span{
         font-size: 2rem;
     }
 
     .icons-container .icons h3{
         font-size: 2rem;
     }
     
     .icons-container .icons span{
         font-size: 1.7rem;
     }
     header .navbar .input-search input{
         width: 17%;   
     }
     header .logo span{
         font-size: 2rem;
         
     }
     header .navbar{
         margin-right: -8rem;
     }
     header .icons .fas{
         font-size: 2rem;
     }
     
 }
@media (max-width:666px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        height:100vh;
        top:100%; 
        left:0;
         right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .cart2 {
        width: 100%;
        padding-top:5rem;
    }
    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }
  

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    header .navbar .input-search input{
        width: 15%;
        
    }
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }
    .cart2{
        width: 100%;
        padding-top: 5rem;
    }
    .products .box-container .box .image img{
        width:100%;
        image-resolution:from-image 1024dpi;
    }
    header .logo span{
        font-size:2rem;
    }
}
/* @media (max-width:375px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }
    .cart2{
        width: 100%;
    }
    .products .box-container .box .image img{
        width:70%;
    }
    header .logo span{
        font-size:2rem;
    }

}

@media (max-width:375px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }
    .cart2{
        width: 50%;
    }
    .products .box-container .box .image img{
        width:70%;
    }
    header .logo span{
        font-size:2rem;
    }

}

@media(max-width:301px ){
    
    html{
        font-size: 30%;
    }

    .heading{
        font-size: 1rem;
    }
    .cart2{
        width: 100%;
        padding-top:7rem;
    }
   
    .products .box-container .box .image img{
        width:70%;
    }
   .logo span {
       font-weight: 200;

   }
 .logo span{
     font-size: 2px;
 }
}

@media screen and (max-width:345px ){
    
    html{
        font-size: 40%;
    }

    .heading{
        font-size: 2rem;
    }
    .cart2{
        width: 100%;
        padding-top:7rem;
    }
   
    .products .box-container .box .image img{
        width:70%;
    }
   header .logo span{
       font-size:2rem;
   }
 
}
  */



 /* Model  */
 